---
layout: default
---

<article class="post-container">
  <header class="post-header">
    <h1 
      class="post-title"
      data-zh="{{ page.title_zh }}"
      data-en="{{ page.title_en }}"
    >
      {{ page.title_zh }}
    </h1>
    <p class="post-meta">
      <span class="post-date">
        {{ page.date | date: "%Y-%m-%d-%H" }}
      </span>
    </p>
  </header>

  <div 
    class="post-body"
    data-zh="{{ page.body_zh | markdownify | escape }}"
    data-en="{{ page.body_en | markdownify | escape }}"
  >
    {{ page.body_zh | markdownify }}
  </div>
</article>

<!-- 上一篇 / 下一篇导航 -->
<nav class="post-nav">
  <a class="post-nav-link prev {% unless page.previous %}disabled{% endunless %}" href="{% if page.previous %}{{ page.previous.url }}{% else %}#{% endif %}">
    上一篇: {% if page.previous %}{{ page.previous.title_zh }}{% else %}No Previous 无上一篇{% endif %}
  </a>
  <a class="post-nav-link next {% unless page.next %}disabled{% endunless %}" href="{% if page.next %}{{ page.next.url }}{% else %}#{% endif %}">
    下一篇: {% if page.next %}{{ page.next.title_zh }}{% else %} No next 无下一篇{% endif %}
  </a>
</nav>
